extends layout

block content
  each plan in plans
    p #{plan.name} - #{decimalConvert(plan.amount)} #{plan.currency}/#{plan.interval}

  div.text-center
    if !user
      form(class="form-signup" method="POST" action="/registration")
        - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
        h1(class=h1Classes)= __('Register')

        //-input email
        label( for="inputEmail" class="sr-only") Email address
        input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

        //-input password
        label(for="inputPassword" class="sr-only") Password
        input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

        //-choose plan
        - var divClasses=['select', 'mb-3'];
        div(class=divClasses)
          label
            select(name="plan")
              each plan in plans
                option(value=plan.name)= plan.name

        //-signIn button
        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
        button(class=buttonClass type="submit" id="register-button")= __('Register')

        - var pClasses=['mt-5', 'mb-3', 'text-muted'];