extends ../layout

block content
  p ciao #{user.email}

  #userInfo
    h3 User Info
    if (plan)
      ul 
        li= plan
        li= created
        li #{status} - Period #{current_period_start} : #{current_period_end}
        li= billing
      a(href="/customer/deactive") Deactive
    else
      p You need a plan
      form(class="form-buy" method="POST" action="/customer/buy")
        //-choose plan
        - var divClasses=['select', 'mb-3'];
        div(class=divClasses)
          label
            select(name="plan")
              each plan in plans
                option(value=plan.name)= plan.name

          //-buy button
          - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
          button(class=buttonClass type="submit")= __("Buy")

          - var pClasses=['mt-5', 'mb-3', 'text-muted'];

  div.text-center
    if name
      - var fullnamePlaceholder = name
    else
      - var fullnamePlaceholder = __("Full name")
    if phone
      - var phonePlaceholder = phone
    else
      - var phonePlaceholder = __("Phone")
    if address
      - var addressPlaceholder = address
    else
      - var addressPlaceholder = __("Address")
    if city
      - var cityPlaceholder = city
    else
      - var cityPlaceholder = __("City")
    if postalCode
      - var postalCodePlaceholder = postalCode
    else
      - var postalCodePlaceholder = __("Postal Code")
    if country
      - var countryPlaceholder = country
    else
      - var countryPlaceholder = __("Country")
    form(class="form-user-info" method="POST" action="/customer/update")
      //-input fullname
      label( for="inputName" class="sr-only")= __("Full name")
      input(type="name" name="name" id="inputName" class="form-control" placeholder=fullnamePlaceholder required autofocus)
      //-input address
      label( for="inputAddress" class="sr-only")= __("Address")
      input(type="address" name="address" id="inputAddress" class="form-control" placeholder=addressPlaceholder required autofocus)
      //-input city
      label( for="inputCity" class="sr-only")= __("City")
      input(type="city" name="city" id="inputCity" class="form-control" placeholder=cityPlaceholder required autofocus)
      //-input postal code
      label( for="inputPostalCode" class="sr-only")= __("Postal Code")
      input(type="postal_code" name="postal_code" id="inputPostalCode" class="form-control" placeholder=postalCodePlaceholder required autofocus)
      //-input country
      label( for="inputCountry" class="sr-only")= __("Country")
      input(type="country" name="country" id="inputCountry" class="form-control" placeholder=countryPlaceholder required autofocus)
      //-input phone
      label( for="inputPhone" class="sr-only")= __("Phone")
      input(type="phone" name="phone" id="inputPhone" class="form-control" placeholder=phonePlaceholder required autofocus)

      //-button
      - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
      button(class=buttonClass type="submit")= __('Update')

      - var pClasses=['mt-5', 'mb-3', 'text-muted'];